backend/handler/__pycache__
backend/handler/classifiers/__pycache__
backend/handler/utils/__pycache__
backend/test/__pycache__
backend/test/classifiers/__pycache__

backend/handler/utils/pickle/*
!backend/handler/utils/pickle/.gitkeep

backend/handler/utils/.cache
backend/handler/classifiers/.cache

backend/test/*.pyc
backend/handler/*.pyc

backend/handler/classifiers/sentiment_files/*
!backend/handler/classifiers/sentiment_files/.gitkeep

backend/.cache

.cache
.DS_Store

frontend/node_modules
frontend/app/vendor
frontend/app/test/coverage
