
<div class="search_term_container">
      <div class="trends">
            <span ng-repeat="trend in trends" ng-show="true" ng-click="lock || keywordSentiment(trend['term'])" class="words" style="color: {{trend['color']}}"> {{trend['term']}} | </span>
      </div>
      <form class="centerScreen searchForm">
            <div class="platformContainer">
                  <label ng-repeat="platform in platforms" class="platform">
                        <input type="radio" ng-model="term.platform" value="{{platform}}" name="chosenPlatform" />{{platform}}
                  </label>
            </div>

            <input id="searchTerm" type="text" placeholder="Search Term" class="form-control" ng-model="term.word" ng-readonly="lock"/>
            <div ng-click="lock || searchTerm()" class="search_btn">
                  <p>
                        Search Term
                  </p>
            </div>
      </form>

</div>
