
.search_term_container
      @extend .centerScreen
      height: $max-height
      width: $max-width
      .searchForm
            width: $max-width
            input
                  margin: $medium-margin
                  width: $extra-large-width
      .trends
            width: $near-max-width
            height: $small-height
            overflow-y: scroll
            text-align: center
            .words
                  cursor: pointer
      .platformContainer
            white-space: nowrap
            .platform
                  display: block
                  margin: $reset-margin
      .search_btn
            padding: $medium-padding
            color: white
            border: thin black solid
            background-color: $button-color
            cursor: pointer
            p
                  margin: $reset-margin
